<p><a href="http://en.wikipedia.org/wiki/Betweenness_centrality">Betweenness Centrality</a> is a useful property when searching for critical
    nodes in a network. The exact calculation of betweenness is
    however computationally expensive, which leaves us with the need for approximate methods.</p>
<img src="/distributed-graph-analytics/img/hbse_example_image.png"/>
<p>The picture above shows the approximate betweenness of the given graph. You can see some nodes are a lot more critical than others and their betweenness value reflects that.</p>