<ol>

    <li>
        Each vertex receives community values from its community hub and sends its own community to its neighbors
    </li>
    <li>
        Each vertex determines if it should move to a neighboring community or not and sends its information to its community hub
    </li>
    <li>
        Each community hub re-calculates community totals and sends the updates to each community member
    </li>
    <li>
        Compress each community such that they are represented by one node.
    </li>
</ol>
