<p>This project is an implementation of the Louvain Community Detection algorithm described in <a href="http://arxiv.org/pdf/0803.0476.pdf">"Fast
    unfolding of communities in large
    networks"</a> which:</p>
<ol>
    <li>
        Assigns communities to nodes in a graph based on graph structure and statistics.
    </li>
    <li>
        Compresses the community-tagged graph into a smaller one.
    </li>
</ol>
<p>This process can then be repeated to build several community-aggregated versions of the same original graph.</p>

<p>Identifying communities in large networks based on graph structure is difficult to eyeball and computationally hard, but is useful in
    understanding structure and strength of community metrics which may adhere to real-world relationships or constraints. Furthermore,
    big-data size graph compression allows for analysis of networks at various aggregation levels which is useful in guided network analysis
    and drill-down operations.</p>
