<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/distributed-graph-analytics/">Distributed Graph Analytics</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">How To <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/distributed-graph-analytics/HowToGet/">Get</a>
                        </li>
                        <li>
                            <a href="/distributed-graph-analytics/HowToBuild/">Build</a>
                        </li>
                        <li>
                            <a href="/distributed-graph-analytics/HowToDeploy/">Deploy</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analytics <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/distributed-graph-analytics/hbse/">High Betweenness Set Extraction</a></li>
                        <li><a href="/distributed-graph-analytics/louvain/">Louvain Modularity</a></li>
                        <li><a href="/distributed-graph-analytics/pr/">Page Rank</a></li>
                        <li><a href="/distributed-graph-analytics/wcc/">Weakly Connected Components</a></li>
                        <li><a href="/distributed-graph-analytics/lc/">Leaf Compression</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/distributed-graph-analytics/hbse/example/">High Betweenness Set Extraction</a></li>
                        <li><a href="/distributed-graph-analytics/louvain/example/">Louvain Modularity</a></li>
                        <li><a href="/distributed-graph-analytics/pr/example/">Page Rank</a></li>
                        <li><a href="/distributed-graph-analytics/wcc/example/">Weakly Connected Components</a></li>
                        <li><a href="/distributed-graph-analytics/lc/example/">Leaf Compression</a></li>
                        <li><a href="/distributed-graph-analytics/runner/">DGARunner</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/distributed-graph-analytics/Usage/">Usage</a></li>
                        <li><a href="/distributed-graph-analytics/Configurations/">Configurations</a></li>
                        <li><a href="/distributed-graph-analytics/FAQ/">FAQ</a></li>
                        <li><a href="/distributed-graph-analytics/Issues/">Known Issues</a></li>
                        <li><a href="http://sotera.github.io/xdata-vm/">Don't have a cluster?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/Sotera/distributed-graph-analytics/zipball/master">Download <strong>ZIP File</strong></a></li>
                        <li><a href="https://github.com/Sotera/distributed-graph-analytics/tarball/master">Download <strong>TAR Ball</strong></a></li>
                        <li><a href="https://github.com/Sotera/distributed-graph-analytics">View On <strong>GitHub</strong></a></li>
                        <li><a href="https://github.com/Sotera/distributed-graph-analytics/fork">Fork on <strong>Github</strong></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>