<ol>
    <li>
        Initialize the same value to each vertex.
    </li>
    <li>
        Calculate your rank based on the initial value divided by the number of edges you have.
    </li>
    <li>
        Send your rank to all your edges.
    </li>
    <li>
        Accumulate all incoming messages and calculate your new rank.
    </li>
    <li>
        Repeat step 2.
    </li>
    <li>
        Stop whenever the max change is less than an epsilon value of 0.001.
    </li>
</ol>
<img src="/distributed-graph-analytics/img/pagerank.png"/>
<p>The picture above shows the PageRank of that specific graph. As you can see, the more times a node references another, the higher the PageRank. The nodes that are referenced the least,
    have the least PageRank.</p>
<h3><a name="what-data" class="anchor" href="#what-data"><span class="glyphicon glyphicon-link"></span></a>What kind of data can be used?</h3>
<p>Any kind of data can be used for PageRank. The PageRank algorithm results will be different if you make it undirected, but if that's what you want to do, then it will work.</p>