<h4><a name="prconfig" class="anchor" href="#prconfig"><span class="glyphicon glyphicon-link"></span></a> PageRank Configuration</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Property
        </th>
        <th>
            Required
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>damping.factor</td>
        <td>N</td>
        <td>(Default: 0.85f) The PageRank theory holds that an imaginary surfer who is randomly clicking on links will eventually stop clicking. The probability, at any step, that the person will continue is a
            damping factor d. Various studies have tested different damping factors, but it is generally assumed that the damping factor will be set around 0.85.
        </td>
    </tr>
    </tbody>
</table>