<ol>
    <li>
        Look at all edges and find the vertex id who holds the highest value.
    </li>
    <li>
        Send the greatest vertex id to all the edges.
    </li>
    <li>
        Process incoming messages and compare it against the value you hold.
    </li>
    <li>
        Repeat the process until there are no messages being sent.
    </li>
</ol>
<img src="/distributed-graph-analytics/img/wcc.png"/>
<p>As you can see from the image above, that graph has 3 Weakly Connected Components.</p>
<h3><a name="what-data" class="anchor" href="#what-data"><span class="glyphicon glyphicon-link"></span></a>What kind of data can be used?</h3>
<p>As the name suggests, Weakly Connected Components needs to be undirected to work properly. However, you can run Weakly Connected Components with a directional graph. Your results might varry from the
    undirected version.</p>