---
layout: base
---
<h3><a name="configurations" class="anchor" href="#configurations"><span class="glyphicon glyphicon-link"></span></a> Configurations</h3>
<p>Note: None of these configurations are required. The defaults have been selected and the analytics will run without them. However, to get the best results for your data set,
    you may need to adjust some of the values. Also, if you remove some of the configuration values, the analytics will not run, so it's advised that you replace them.</p>
{% include ioconfig.html %}
{% include hbseconfig.html %}
{% include wccconfig.html %}
{% include lcconfig.html %}
{% include louvainconfig.html %}
{% include prconfig.html %}